@font-face {
    font-family: "TimesNewer_reg";
    src: url(../assets/fonts/fonnts.com-TimesNewerRoman-Regular.otf);
}

@font-face {
    font-family: "TimesNewer_bold";
    src: url(../assets/fonts/fonnts.com-TimesNewerRoman-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    padding: 5px;
    height: 100%;
    width: 100%;
    color: var(--deepBlack);
}

:root {
    --deepBlack: #050203;
}

.prevent-select {
    user-select: none;
}

header {
    font-family: Helvetica, sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
    color: var(--deepBlack);
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.btns button {
    font-size: smaller;
    padding: 3px 5px;
    background-color: gray;
    outline: none;
    border-radius: 3px;
}

.btns a {
    color: white;
}

#search-bar {
    border: none;
    outline: none;
}

.search-bar button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 5px;
}

.country-codes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.country-codes li {
    list-style: none;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: auto;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

hr {
    height: 3px;
    background-color: var(--deepBlack);
}

section {
    display: flex;
    justify-content: center;
}

.main, .side {
    font-family: "TimesNewer_reg", serif;
}

.vertical-line {
    border-left: 2px solid gray;
    height: 50;
}

.main {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;

}

.main h2 {
    font-family: "TimesNewer_bold", serif;
}

.news-card {
    margin: 10px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.txt-content {
    /* width: 60%; */
    padding: 0 5px 0 0;
}

.text_60_wd {
    width: 55%;
}

.txt_fixed_wd {
    padding: 5px 50px;
}

.news-card p {
    font-size: small;
}

.img {
    width: 40%;
}

.side {
    width: 35%;
    text-align: center;
    padding-top: 20px;
}

.side h2 {
    font-family: "TimesNewer_bold", serif;
}

.headline {
    margin: 10px 10px;
    padding: 5px;
    font-size: small;
}

.searched_articles {
    margin: 10px 10px;
    padding: 5px;
    font-size: small;
}